<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
		.wrapper {
		    display: flex;
		    width: 13%;
		    align-items: stretch;
		}

		#button-scheleton{
			display: flex;
			width: 5%;
			height: 100%;
		}

	</style>
	<title>Welcome admin!</title>
	<%- include('head.ejs')%>
</head>
<body>
	<div class="mask">
		<div class="container-fluid text-white">
			<div class="container-fluid text-center">
				<div class="wrapper">
					<nav id="sidebar">
						<div class="sidebar-header">
							<h1>Admin page</h1>
						</div>

							<ul class="list-unstyled components">
					            <p>Dummy Heading</p>
					            <li class="active">
					                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
					                <ul class="collapse list-unstyled" id="homeSubmenu">
					                    <li>
					                        <a href="#">Home 1</a>
					                    </li>
					                    <li>
					                        <a href="#">Home 2</a>
					                    </li>
					                    <li>
					                        <a href="#">Home 3</a>
					                    </li>
					                </ul>
					            </li>
					            <li>
					                <a href="#">About</a>
					            </li>
					            <li>
					                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
					                <ul class="collapse list-unstyled" id="pageSubmenu">
					                    <li>
					                        <a href="#">Page 1</a>
					                    </li>
					                    <li>
					                        <a href="#">Page 2</a>
					                    </li>
					                    <li>
					                        <a href="#">Page 3</a>
					                    </li>
					                </ul>
					            </li>
					            <li>
					                <a href="#">Portfolio</a>
					            </li>
					            <li>
					                <a href="#">Contact</a>
					            </li>
					        </ul>
						
					</nav>
				</div>
				<div id="button-scheleton">
					<a href="#">
						<div class="hamburger">
							<div class="hamburger-component"></div>
							<div class="hamburger-component"></div>
							<div class="hamburger-component"></div>
						</div>
					</a>
				</div>
			</div>
			<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
		</div>
		<%- include('footer.ejs')%>
	</div>

</body>
</html>