<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="https://localhost:1337/adminpage.css">
	<title>Welcome admin!</title>
	<%- include('head.ejs')%>
</head>
<body>
	<div class="mask">
		<div class="container-fluid text-white">
			<div class="container-fluid text-center">
				<!-- Begin sidebar -->
				<div class="wrapper">
					<div id="sidebar">
						<div class="sidebar-header text-center">
							<h3>Admin page</h3>
						</div>
						<div id="elements" class="text-center">
								<a href="javascript:void(0)" onclick="closeNav()" id="closebtn">&times;</a>
								<a href="https://localhost:1337/admin/newblog">Crea nuovo articolo</a>
								<a href="#">Modifica articoli</a>							
						</div>
					</div>
				</div>	
				<!-- End sidebar -->

				<div>
					<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Open</span>
				</div>
				<div>
					<h1>Welcome admin!</h1>
					<p>Numero di articoli: </p>
					<p>Numero di utenti del blog: </p>

				</div>	
			</div>
			<br><br><br><br><br><br><a href="https://localhost:1337/">-> Torna alla pagina principale <-</a><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
		</div>
		<%- include('footer.ejs')%>
	</div>
	<script type="text/javascript">
		function openNav() {
			document.getElementById('sidebar').style.width = "250px";
		}
		function closeNav(){
			document.getElementById('sidebar').style.width = "0";
		}
		//Magari inserire un po' di statistiche visualizzate con grafici
		/*document.body.onload = function(){
			fetch('https://localhost:1337/api/numart')
			.then((res) => {
				console.log(res);
			})
		}*/
	</script>

</body>
</html>