<!-- Links to other thingss -->
<footer class="text-center text-white">
	<p>Follow me on</p>
	<a href="https://github.com/LukeGix" class="p-3" ><img src="/GitHub-Mark-Light-32px.png"/></a><a href="" class="p-3"><img src="/insta.png" style="height: 32px; width: 32px"></a>
</footer>
<!-- END LINKS -->