<div class="container-fluid d-flex justify-content-between" id= "navigation">
							<ul class="nav">
								<li class="nav-item"><a class="nav-link" href="https://localhost:1337/">Home</a></li>
								<li class="nav-item"><a class="nav-link" href="#whoami">About me</a></li>
								<li class="nav-item"><a class="nav-link" href="https://localhost:1337/MyBlog">My blog</a></li>
							</ul>
							<ul class="nav">
								<li class="nav-item"><a class="nav-link" href="/Login">L0g1n</a></li>
							</ul>
</div>