<div class="container-fluid d-flex justify-content-between" id= "navigation">
							<ul class="nav">
								<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
								<li class="nav-item"><a class="nav-link" href="/#whoami">About me</a></li>
								<li class="nav-item"><a class="nav-link" href="/#blog">Blog</a></li>
							</ul>
							<ul class="nav">
								<li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
							</ul>
</div>