<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<%- include('head.ejs')%>
</head>
<body>
	<div class="mask">
		<div class="container-fluid text-white">
			<%- include('header.ejs')%>
			<div class="container-fluid text-center">
				<h1>Accedi</h1>
				<br>
				<form action="/Login" method="POST">
					<p>Username</p><input type="text" name="user" />
					<p>Password</p><input type="password" name="password" /><br><br>
					<input type="submit" value="Submit">
				</form>
				<p>Non ti sei ancora registrato????? MA QUESTO E' INAUDITO! Please, <a href="https://localhost:1337/Register">rimedia subito</a></p>
			</div>
			<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
		</div>
		<%- include('footer.ejs')%>
	</div>

</body>
</html>