<!-- LOGO -->
<div id="logo">
	<div id="parent">	
		<div id="rettangolo"><div id="lineadown"></div><div id="lineaup"></div><div id="barra"></div></div>
	</div>
	<div id="testo">
		<p id="main" class="pmodified">HackBlog</p>
		<p class="pmodified">Let's hack the world</p>
	</div>
</div>
<!-- FINE LOGO -->