<!DOCTYPE html>
<html>
<head>
	<title>Blog</title>
	<%- include('head.ejs')%>
</head>
<body>
	<div class="mask">
		<div class="container-fluid text-white">
			<h1 class="text-white text-center">Logo</h1>
				<%- include('header.ejs')%>
				<div class="container-fluid text-center">
					<p>This is My Blog</p>
					<p>Here I'll post my reasearches in the IT Security field/CTF Writeups</p>
					<a href="https://localhost:1337/MyBlog/git">Github writeups</a>
					<a href="https://localhost:1337/MyBlog/reasearches">Researches</a>
					<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
				</div>	
			
		</div>



		<%- include('footer.ejs')%>
	</div>

</body>
</html>