<!-- DA CANCELLARE -->
<!DOCTYPE html>
<html>
<head>
	<title>Blog</title>
	<%- include('head.ejs')%>
	<link rel="stylesheet" type="text/css" href="/mainblog.css">
</head>
<body>
	<div class="mask">
		<div class="container-fluid text-white">
				<%- include('logo.ejs')%>
				<%- include('header.ejs')%>
				<div class="container-fluid text-center">
					<p class="testoo">Hi everyone! Welcome to my blog</p>
					<div class="row container-fluid">
						<div id="one" class="col-xs-6 card">
							<div><img src="x"></div>
							<div><p>CTF writeups</p></div>
						</div>
						<div id="two" class="col-xs-6 card">
							<div><img src="x"></div>
							<div><p>Articles</p></div>
						</div>

					</div>






					<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
				</div>	
			
		</div>



		<%- include('footer.ejs')%>
	</div>
	<style type="text/css">
		.testoo:nth-of-type(1) {
			font-size: 20px;
			margin-top: 30px;
		}


	</style>

</body>
</html>