<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="https://localhost:1337/adminpage.css">
	
	<title>Welcome admin!</title>
	<%- include('head.ejs')%>
</head>
<body>
	<div class="mask">
		<div class="container-fluid text-white">
			<%- include('logo.ejs')%>
			<br><br>
			<div class="container-fluid text-center">
				<p>È una funzionalità ancora in fase di testing</p>
				<br>
				<p>Inserisci oggetto JSON da caricare</p>
				<br>
				<form action="/admin/newblog" method="POST">
					<div><input type="text" name="Title" required="true" placeholder="Title"></div>
					<div><input type="text" name="Author" required="true" placeholder="Author"></div>
					<div><input type="text" name="Body" required="true" placeholder="Body"></div>
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>

				<!--<textarea id="editing"></textarea>
				<br><br><button class="btn btn-primary" onclick="upload(document.getElementsByTagName('textarea')[0].value)">Done</button><button class="btn btn-primary" onclick="window.location = 'https://localhost:1337/Login';">Back</button>-->
				<br><br><br><br><br><br><br><br><br>
			</div>
		</div>


		
	</div>
	<link href="/newblog.css" rel="stylesheet" />

	
</body>
</html>