<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="https://localhost:1337/adminpage.css">
	
	<title>Welcome admin!</title>
	<%- include('head.ejs')%>
</head>
<body>
	<div class="mask">
		<div class="container-fluid text-white">
			<%- include('logo.ejs')%>
			<br><br>
			<div class="container-fluid text-center">
				<p>Fill the form below and submit it to create a new article</p>
				<form id="newblog" action="/admin/newblog" method="POST">
					<div><input type="text" name="Title" required="true" placeholder="Title" autocomplete="off"></div>
					<div><input type="text" name="Author" required="true" placeholder="Author" autocomplete="off"></div>
					<div><textarea form="newblog" placeholder="Body" name="Body"></textarea></div>
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>


			</div>
		</div>


		
	</div>
	<link href="/newblog.css" rel="stylesheet" />

	
</body>
</html>