<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="https://localhost:1337/adminpage.css">
	<title>Welcome admin!</title>
	<%- include('head.ejs')%>
</head>
<body>
	<div class="mask">
		<div class="container-fluid text-white">
			<div class="container-fluid text-center">
				<p>TextArea soon!!</p>
			</div>
		</div>
	</div>

	<%- include('footer.ejs')%>
</body>
</html>